iframe{
	float: center;
	text-align: center;
	width: 100%
}
strong{
	color: purple;
}
.letter{ 
	border: ridge 1px purple; 
	height: auto; 
	width: 5%; 
	text-align: center;
	display: inline-block;
	margin: 1%;
	cursor: pointer;
	background: #d8c2ff;
}
.trueLetter{ 
	border: ridge 1px green; 
	height: auto; 
	width: 5%; 
	text-align: center;
	display: inline-block;
	margin: 1%;
	background: #6aebc8;
} 
.game-over{
	cursor:default;
	background: #e6e6e6;
	border: ridge 1px #e6e6e6;
	color: grey;
}
.off{
	visibility: hidden;
}
section{
	background-color: rgba(255, 255, 255, 0.7);
}
p {
	margin: 20px 0;
	font: 16px 'Calligrapher';
	line-height: 1.5;
}
.form-control {
	box-shadow: none;
}
.btn {
	font-family: 'Calligrapher';
}
body {
	background-image: url('images/bg.png');
}

h2 {
 	background: none repeat scroll 0 0 #ad5aa4;
	color: #fff;
	font: 300 30px 'Calligrapher';
	text-transform: uppercase;
}

 a {
	text-transform: uppercase;
	font: 14px 'Calligrapher';
}
.navbar{
	background: #cbb9eb;
	margin: 20px;
}

.heading{
	height: 40px;
	margin: 20px;
	text-align: left;
}
h1 {
	display: inline-block;
	color: purple;
	font: normal 40px/40px 'Calligrapher', sans-serif;
	margin: 0;
	text-transform: uppercase;
}
.row{
	margin: 0;
}
.submenu li {
	display: list-item;
	font: 300 14px 'Calligrapher';
	list-style-position: inside;
	list-style-type: square;
}
 .submenu li a{
	text-decoration: none;
}
footer {
  	background: #f2d0ea;
  	color: #7e7e7e;
  	font-size: 11px;
}
.social{
	float: center;
	text-align: center;
}
.sitemap{
	float: left;
	text-align: left;
	font-size: 12px;
}
footer, .container a {
  	color: #7e7e7e;
}
.footer-logo {
  	float: right;
  	font-size: 10px;
  	text-align: right;
}
.footer-logo a {
	text-decoration: underline;
}